body {
  margin: 0;
}
.homepage {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #002726;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}
#homepageSnapSetup {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}
.snap {
  scroll-snap-align: start;
}
.projectsTextArea {
  float: right;
  width: 40vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  border-left: solid 1px black;
}
.all-pages{ 
  font-family: 'Ubuntu', sans-serif;
  color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.project-imgs {
  min-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border: solid 2px white;
  border-radius: 10px;
}
.projects {
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project1 {
  background-image: url('../src/img/soundspace-img1.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.project2 {
  background-image: url('../src/img/teslaclone-img.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.project3 {
  background-image: url('../src/img/bookzone-img1.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.project4 {
  background-image: url('../src/img/sharkattack-img.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.project5 {
  background-image: url('../src/img/nervecenternewgif.gif');
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.project1, .project2, .project3, .project4, .project5 {
  scroll-snap-align: start;
}
.project1 *, .project2 *, .project3 *, .project4 *, .project5 *, .project6 * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: fade 0.3s ease-in;
}
.ruiImg {
  width: 300px;
}
.two-githubs {
  display: flex;
  align-items: center;
}
.two-githubs * {
  margin-right: 10px;
}
.img-text-div {
  display: flex;
  align-items: center;
}
.text-div {
  margin-left: 25px;
  margin-right: 5vw ;
}
.links-div {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1vh;
}
.links-div * {
  margin-right: 10px;
  margin-left: 10px;  
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img-text-div img, p {
  animation: fade 0.5s ease-in;
}
.project-imgs, .link-imgs {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.project-imgs:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.link-imgs:hover {
  transform: scale(1.1);
}
.project-link {
  max-width: 400px;
}
.link-imgs {
  width: 40px;
}
.cv-img {
  width: auto;
}


/* background green: #002726 */